<section class=" container mt-5">
    <div class="text-left mb-5">
        <h2 class="mb-3">Why you choose us</h2>
        <p class="card-text" style="line-Height: '5px'"><small>Barton waited twenty always repair in within we do. An
                delighted offering crusty</small></p>
        <p class="card-text" style="line-Height: '5px'"><small>mu is dagwood's at. Boy prosperous increasing
                surround</small></p>
    </div>
    <div class="card-group">
        <div class="card m-3" style="height:'90%'">
            <img class="card-img-top" src='../../assets/images/BargerMan.png' alt="Card" />
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <img src='../../assets/images/Group1.png' alt="" />
                    </div>
                    <div style="overflow: 'hidden'">
                        <h5 class="card-title text-left m-2">Fast Delivery</h5>
                        <p class="card-text text-left"><small>Keep your system om sync with automated web hook based
                                notification each time link is paid and how we dream about our future</small></p>
                        <h6 class="text-left">See more <i class="fas fa-arrow-right"></i> </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-3">
            <img class="card-img-top" src='../../assets/images/shap.png' alt="Card" />
            <div class="card-body">
                <div class="d-flex">
                    <div> <img src='../../assets/images/Group2.png' alt="" /></div>
                    <div style="overflow: 'hidden'">
                        <h5 class="card-title text-left m-2">A Good Auto Responder</h5>
                        <p class="card-text text-left"><small>Keep your system om sync with automated web hook based
                                notification each time link is paid and how we dream about our future</small></p>
                        <h6 class="text-left">See more <i class="fas fa-arrow-right"></i> </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-3" style="height: '90%'">
            <img class="card-img-top" src='../../assets/images/supplier.png' alt="Card" />
            <div class="card-body">
                <div class="d-flex">
                    <div><img src='../../assets/images/Group3.png' alt="" /></div>
                    <div style="overflow: 'hidden'">
                        <h5 class="card-title text-left m-2">Home Delivery</h5>
                        <p class="card-text text-left"><small>Keep your system om sync with automated web hook based
                                notification each time link is paid and how we dream about our future</small></p>
                        <h6 class="text-left">See more <i class="fas fa-arrow-right"></i> </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>